* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    background-color:#FAF8F5;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}