html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #333333;
}


nav {
    width: 80%;
}

.icon {
    width: 3rem;
    height: auto;
}

.container-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#searching {
    width: 80%;
    height: 10%;
}

main {
    flex-grow: 1;
}
.container-main {
    display: grid;
    position: relative;
    width: 100%;
    background-color:#FAF8F5;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "banner banner"
    "filter katalog"
    "filter katalog"
    "filter katalog"
    "review review";
}


.hero-banner {
    grid-area: banner;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

/* From Uiverse.io by alexruix */ 
.card {
    width: 190px;
    height: 254px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   .svg-icon {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   

.container-footer {
    position: relative;
    background-color: #333333;
    height: 10vh;
    width: 100vw;
}

.detail-product {
    grid-area: katalog;
}

.filter-content {
    grid-area: filter;
}

.review-page {
    grid-area: review;
}